searchBox {
  display: 'flex';
  width: '80%';
  margin: 'auto';
  justify-content: 'space-around';
  margin-bottom: '1rem';
}

textField {
  width: '80%';
  border-radius: '100px';
}

textField.MuiOutlinedInput-root fieldset {
  border-color: '#eeedff';
}

textField.MuiOutlinedInput-root:hover fieldset {
  border-color: '#b3739f';
}

textField.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: '#744b67';
}

button {
  color: '#744b67';
  border-color: '#744b67';
  text-transform: 'capitalize';
  font-weight: 'bold';
  font-size: '1rem';
  border-radius: '5px';
  border-width: '2px';
}

button:hover {
  background: '#744b67';
  color: '#eeedff';
}